<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085138043493-d511itvrih5l1qk319sbhtcf1scqcuok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085138043493-d511itvrih5l1qk319sbhtcf1scqcuok</string>
	<key>API_KEY</key>
	<string>AIzaSyBf7iiwEEpUJYs9ctWAojcWmIEl2-3I1X0</string>
	<key>GCM_SENDER_ID</key>
	<string>1085138043493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadiryilmaz.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-18ef4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-18ef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085138043493:ios:c5a22f59d055a89738fc8c</string>
</dict>
</plist>